
.DS_Store
.RData
.Rhistory
.Rproj*
PROJECT_journalPPPR.Rproj
protocol/
researchFiles/
materials/
analysis/rawToPrimaryData.R
data/raw/
analysis/preliminaryAnalysis.Rmd
analysis/preliminaryAnalysis.html
manuscript/manuscript_files/
manuscript/figs/
manuscript/manuscript.gdoc
publication/
